/packages/**/*.config.js
tsdist
/packages/**/*.less
/packages/**/*.svg
/packages/**/*.MD
/packages/**/*.jpg
/packages/**/*.png
/packages/*/node_modules/**/*
/packages/tdp-editor/src/pages/rightPanel/UXDesigner/*